<?php TPL::output('global/header.tpl.htm'); ?>
<div class="aw-container-wrap">
	<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-8 aw-main-content">
				
						<div class="aw-main-title hidden-xs">
                                           发帖，开始装逼！
                     <a <?php if ($this->user_id) { ?> href="publish/" <?php } else{?>href="account/login/"<?php } ?> class="btn btn-primary">发表</a>
                </div>
					<!-- tab切换 -->
					<ul class="nav nav-tabs nav-tabs-zen  hidden-xs">
						<li<?php if ((!$_GET['sort_type'] OR $_GET['sort_type'] == 'new') AND !$_GET['is_recommend']) { ?> class="active"<?php } ?>><a href="question/<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?><?php if ($this->category_info['id']) { ?>category-<?php echo $this->category_info['id']; ?><?php } ?>"><?php _e('最新的'); ?></a></li>
						<li<?php if ($_GET['sort_type'] == 'hot') { ?> class="active"<?php } ?>><a href="question/<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-hot" id="sort_control_hot"><?php _e('热门的'); ?></a></li>
						<li<?php if ($_GET['sort_type'] == 'unresponsive') { ?> class="active"<?php } ?>><a href="question/<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-unresponsive"><?php _e('等待回复'); ?></a></li>
					</ul>
					<!-- end tab切换 -->

					<?php if ($_GET['sort_type'] == 'hot') { ?>
					<!-- 自定义tab切换 -->
					<div class="aw-tabs">
						<ul>
							<li<?php if ($_GET['sort_type'] == 'hot' AND $_GET['day'] == 30) { ?> class="active"<?php } ?>><a href="question/<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-30" day="30"><?php _e('30天'); ?></a></li>
						  	<li<?php if ($_GET['sort_type'] == 'hot' AND $_GET['day'] == 7) { ?> class="active"<?php } ?>><a href="question/<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-7" day="7"><?php _e('7天'); ?></a></li>
						  	<li<?php if ($_GET['sort_type'] == 'hot' AND $_GET['day'] == 1) { ?> class="active"<?php } ?>><a href="question/<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-1" day="1"><?php _e('当天'); ?></a></li>
						</ul>
					</div>
					<!-- end 自定义tab切换 -->
					<?php } ?>

					<!-- 主题列表 -->
					<div class="aw-mod aw-explore-list">
						<div class="mod-body">
							<div class="aw-common-list">
								<?php echo $this->question_list_bit; ?>
							</div>
						</div>
					</div>
					<!-- end 主题列表 -->

					<?php echo $this->pagination; ?>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-4 aw-side-bar hidden-xs hidden-sm">
				  <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
					<?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
					<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
					  <!-- 最近所有的热门主题 or 文章 -->
				     <?php TPL::output('block/near_hots_square.tpl.htm'); ?>
					<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>