<div class="aw-mod aw-text-align-justify">
	<div class="mod-head">
		<a href="topic/" class="pull-right"><?php _e('更多'); ?> &gt;</a>
		<h3><?php if ($this->feature_info){ ?><?php _e('该专题包含'); ?> <?php _e('%s 个话题', $this->feature_info['topic_count']); ?><?php } else { ?><?php _e('热门话题'); ?><?php } ?></h3>
	</div>
	<div class="mod-body">
		<?php if (is_array($this->sidebar_hot_topics)) { ?>
		<div class="aw-topic-bar" id="question_topic_editor" data-type="question">
<div class="tag-bar clearfix">
<?php foreach($this->sidebar_hot_topics AS $key => $val) {?>
<span class="topic-tag" data-id="<?php echo $val['topic_id']; ?>">
<a href="topic/<?php echo $val['topic_title'];?>" class="text">
<?php echo $val['topic_title'];?></a>
</span>
		<?php } ?>							
</div>
</div>

		<?php } ?>
	</div>
</div>
