<div class="aw-mod aw-text-align-justify">
<h3>Advertisement</h3>
<div class="advertisement">
	<img src="BraVPN.png" alt="点击与我联系" title="点击与我联系" width="300px" onClick="window.open('tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=643219492')">
</div>
<div class="advertisement">
		<img src="https://ooo.0o0.ooo/2015/09/13/55f43e1b1d273.png" alt="点击与我联系" title="点击与我联系" width="300px" onClick="window.open('tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=3034970641')">
</div>
</div>
